{% extends 'base.html' %}

{% block main_content %}
  <h1 class="m-3 text-center">Додати студента</h1>
  <form action="." method="post">{% csrf_token %}
    <div class="row g-2 mb-3">
      <span class="col-md-6 col-lg-3" >
        <label for="id_first_name" style="min-width: 80px;"> Ім'я </label>
        {{form.first_name}}
        {{form.errors.first_name}}
      </span>
      <span class="col-md-6 col-lg-3">
        <label for="id_last_name" style="min-width: 80px;"> Прізвище </label>
        {{form.last_name}}
        {{form.errors.last_name}}
      </span>
      <span class="col-md-6 col-lg-3">
        <label for="id_age" style="min-width: 80px;"> Вік </label>
        {{form.age}}
        {{form.errors.age}}
      </span>
      <span class="col-md-6 col-lg-3">
        <label for="id_email" style="min-width: 80px;"> Email </label>
        {{form.email}}
        {{form.errors.email}}
      </span>

    </div>
    <div class="mb-3">
      <label for="id_group" style="min-width: 80px;"> Група </label>
      {{form.group}}
      {{form.errors.group}}
    </div>
    <div class="mb-3">
      <button type="submit" class="btn btn-success">
        Зберегти
      </button>
    </div>
  </form>
{% endblock main_content %}
