{% extends 'base.html' %}

{% block main_content %}
  <h1 class="m-3 text-center">Додати курс</h1>
  <form action="." method="post" enctype="multipart/form-data">{% csrf_token %}
    <div class="row g-2 mb-3">
      <span class="col-md-12" >
        <label for="id_name" style="min-width: 80px; font-size: 20px; font-weight: 500;"> Назва </label>
        {{form.name}}
        {{form.errors.name}}
      </span>
      <span class="col-md-12" >
        <label for="id_description" style="min-width: 80px; font-size: 20px; font-weight: 500;"> Опис </label>
        {{form.description}}
        {{form.errors.description}}
      </span>
      <span class="col-md-12" >
        <label for="id_image" style="min-width: 80px; font-size: 20px; font-weight: 500;"> Додати зображення </label>
        <br>
        {{form.image}}
        {{form.errors.image}}
      </span>
      <span class="col-md-12" >
        <label for="id_course_theses" style="min-width: 80px; font-size: 20px; font-weight: 500;"> Основні тези </label>
        {{form.course_theses}}
        {{form.errors.course_theses}}
      </span>
      <span class="col-md-12" >
        <label for="id_teacher" style="min-width: 80px; font-size: 20px; font-weight: 500;"> Вчитель </label>
        {{form.teacher}}
        {{form.errors.teacher}}
      </span>
      <span class="col-md-12" >
        <label for="id_category" style="min-width: 80px; font-size: 20px; font-weight: 500;"> Категорія </label>
        {{form.category}}
        {{form.errors.category}}
      </span>
    </div>
    <div class="mb-3">
      <button type="submit" class="btn btn-success">
        Зберегти
      </button>
    </div>
  </form>
{% endblock main_content %}
