{% extends 'base.html' %}

{% block main_content %}
  <h1 class="m-3 text-center">Введіть ваш логін та пароль</h1>
  <form action="." method="post">{% csrf_token %}
    <div class="row g-2 mb-3">
      <span class="col-md-12" >
        <label for="id_username" style="min-width: 70px;">Логін:</label>
        {{form.username}}
        {{form.errors.username}}
      </span>
      <span class="col-md-12" >
        <label for="id_password" style="min-width: 70px;">Пароль:</label>
        {{form.password}}
        {{form.errors.password}}
      </span>

    </div>
    <div class="mb-3">
      <button type="submit" class="btn btn-success">
        Зайти
      </button>
    </div>
  </form>
{% endblock main_content %}