{% extends 'base.html' %}

{% block main_content %}
  <h1 class="m-3 text-center">Перелік студентів</h1>
  <ul class="list-group">
    <li class="list-group-item active d-flex flex-row">
      <p class="w-25 mb-0">Студент</p>
      <p class="mb-0" style="width: 10%;">Вік</p>
      <p class="w-25 mb-0">Email</p>
      <p class="w-25 mb-0">Група</p>
      <div class="mb-0" style="width: 15%;"></div>
    </li>
    {% for student in student_list %}
    <li class="list-group-item  d-flex flex-row">
      <p class="w-25 mb-0">{{student.name}}</p>
      <p class="mb-0" style="width: 10%;">{{student.age}}</p>
      <p class="w-25 mb-0">{{student.email}}</p>
      <p class="w-25 mb-0">{{student.group}}</p>
      <a href="{% url 'student:edit' student_id=student.id %}" class="btn btn-success mb-0" style="width: 15%;">Редагувати</a>
    </li>
    {% endfor %}
  </ul>
  <div>
    <div class="pagination d-flex justify-content-center fs-3">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
  </div>
{% endblock main_content %}