{% extends 'base.html' %}

{% block main_content %}
  <h1 class="m-3 text-center">Перелік студентів</h1>
  <ul class="list-group">
    <li class="list-group-item active d-flex flex-row">
      <p class="w-25 mb-0">Студент</p>
      <p class="mb-0" style="width: 10%;">Вік</p>
      <p class="w-25 mb-0">Email</p>
      <p class="w-25 mb-0">Група</p>
      <div class="mb-0" style="width: 15%;"></div>
    </li>
    {% for student in student_list %}
    <li class="list-group-item  d-flex flex-row">
      <p class="w-25 mb-0">{{student.name}}</p>
      <p class="mb-0" style="width: 10%;">{{student.age}}</p>
      <p class="w-25 mb-0">{{student.email}}</p>
      <p class="w-25 mb-0">{{student.group}}</p>
      <a href="{% url 'student:edit' student_id=student.id %}" class="btn btn-success mb-0" style="width: 15%;">Редагувати</a>
    </li>
    {% endfor %}
  </ul>
  <div>
    {% include 'includes/pagination.html' %}
  </div>
{% endblock main_content %}