{% for course in course_list %}
<div class="col-sm-6 col-md-4 col-lg-3">
  <div class="card" style="padding: 5px;">
    <img src="{{ course.image.url }}" style="height: 120px; object-fit: contain; " class="card-img-top" alt="...">
    <div class="card-body"  style="height: 280px; padding-bottom: 5px;">
      <h5 class="card-title">{{course.name}}</h5>
      <h6 class="card-title">Викладачі:</h6>
      {% for item in course.teacher.all %}
        <p class="card-text m-0" >{{item.name}}</p>
          
      {% endfor %}
      <p class="card-text" >{{course.description|truncatechars:199}}</p>
    </div>
    <div class="card-body">
      <a href="{% url 'course:card' course_id=course.id %}" class="btn btn-primary">Дізнатися більшe</a>
      <a href="{% url 'course:edit' course_id=course.id %}" class="btn btn-success">Редагувати</a>
    </div>
  </div>
</div>
{% endfor %}